.row {
  text-align: center;
}
.choices {
  display: flex;
  justify-content: space-between;
}
.rockwin {
   display:none
}
.rocktie {
   display:none
}
.scissortie {
   display:none
}
.scissorwin {
   display:none
}
.rocklose {
   display:none
}
